<div class="card">
  <div class="card-block">
    <h5 class="card-title">{{recipient.name}}</h5>
    <h6 class="card-title">{{recipient.email}}</h6>
    <h6 class="card-title">{{recipient.phone}}</h6>
    <ul>
      <li *ngFor="let vendor of recipient.vendor">{{vendor.name}}</li>
    </ul>
    <div class="text-right">
      <button type="button" class="btn btn-link btn-sm" (click)="editRecipient()">Edit</button>
      <button type="button" class="btn btn-link btn-sm" (click)="removeRecipient()">Remove</button>
    </div>
  </div>
</div>
