
<div class="card text-center">
  <div class="card-header clearfix">
    <button *ngIf="showUpdateButton" type="button" class="btn btn-link float-right" (click)="update()">Update</button>
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item" *ngFor="let vendor of order; let vi=index">
          <a class="nav-link" [ngClass]="{'active': vendor.active}" (click)="toggleVendors(vi)">{{vendor.name}}</a>
      </li>
      
    </ul>
  </div>
  <div class="card-block">
      <table class="table table-hover table-sm">
          <thead>
            <tr>
                    <td width="60%">
                      <strong>Item name</strong>
                    </td>
                    <td>
                        <strong>Quantity</strong>
                    </td>
                    <td>
                        <strong>Packaging</strong>
                    </td>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of orderByVendor.items">
              
              <td class="text-left">
                <p class="mb-0">{{item.name}}</p>
                
                <div *ngIf="item.updates">
                  <p class="mb-0 text-danger" *ngFor="let update of item.updates">Updated on {{update.date}}</p>
                </div>
                <small class="text-warning">{{item.note}}</small>
              </td>
              <td>
                {{item.quantity}}
                <div *ngIf="item.updates">
                  <p class="text-danger" *ngFor="let update of item.updates">{{update.quantity}}</p>
                </div>
              </td>
              <td >
                {{item.pack}}
                <div *ngIf="item.updates">
                  <p class="text-danger" *ngFor="let update of item.updates">{{update.pack}}</p>
                </div>
              </td>
              
            </tr>

            <tr  >
              <td colspan="3">
              <p class="text-left note-header"><strong>Note for {{orderByVendor.name}}:</strong></p>
              <div class="card">
                
                <div class="card-body">
                  
                  <p *ngFor="let note of orderByVendor.note; let noteIndex=index"  class="card-text text-left" [class.text-success]="noteIndex > 0">{{note.note}} </p>
                </div>
              </div>
              </td>
            </tr>
          </tbody>

        </table>
  </div>
</div>