<table class="table">
    <tbody>
      <tr *ngFor="let item of itemList; let itemInd=index">
        <td>
          <div class="row">
            <div class="col-sm-5">
              <p>{{item.name}}</p>
              <small class="text-warning">{{item.note}}</small>
            </div>
            <div class="col-sm-7">
              <div class="row justify-content-center">
                <div class="col-xs-3">
                    <div class="input-group">
                        <div class="input-group-addon minus" (click)="decrease(itemInd)">-</div>
                  <select class="form-control form-control-sm" name="quantity" [(ngModel)]="item.quantity" (change)="updateOrder(item.id, item.pack, item.vendorId, item.quantity)" ngModel>
                      <option *ngFor="let quantity of [0,1,2,3,4,5,6,7,8,9,10,11,13,14,15,16,17,18,19,20]" >{{quantity}}</option>
              </select>
              <div class="input-group-addon" (click)="increase(itemInd)">+</div>
                </div>
                </div>
                <div class="col-xs-3">
                  <select class="form-control form-control-sm ml" name="item.pack" [(ngModel)]="item.pack"  (change)="updateOrder(item.id, item.pack, item.vendorId, item.quantity)" ngModel>
                        <option *ngFor="let pack of packList" >{{pack.type}}</option>
                </select>
                </div>
                <div class="col-xs-3">
                  <select class="form-control form-control-sm" (change)="change(newVendor.value, item.id, itemInd)" #newVendor ngModel>
                    <option value="" selected>{{item.vendorName}}</option>
                    <option *ngFor="let vendOpt of vendors; let optInd=index" value="{{vendOpt.id}}">{{vendOpt.name}}</option>
                  </select>
                </div>
                <div class="col-xs-3">
                  <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input ml" name="item.id" type="checkbox" value="">
                        Compare
                        <!-- <div class="checkbox"></div> -->
                      </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

