<div class="card" *ngFor="let vendor of newItemsList; let vendorInd=index">
  <div class="card-header">
    <h5>{{vendor.name}}</h5>
  </div>
  <div class="card-block vendor">
    <table class="table table-striped">
      <tbody>
        <tr *ngFor="let item of vendor.items; let itemInd=index">
          <td>{{item.name}}</td>
          <td class="vendor">
            <select class="form-control form-control-sm" #vendor ngModel>
              <option value="" selected>Vendor</option>
              <option *ngFor="let vendOpt of newItemsList; let optInd=index" value="{{optInd}}" >{{vendOpt.name}}</option>
            </select>
           </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
