<div class="cards-wrap">

    <div class="card-deck">
        <div class="card" (click)="goTo('/user/neworder')">
            <div class="card-block">
              <h4 class="card-title">New Order</h4>
              <p class="card-text">Place new order, create preorder list, request prices</p>
              <!-- <a routerLink="../neworder" class="btn btn-secondary">Start</a> -->
            </div>
          </div>
        <div class="card" (click)="goTo('/user/itemlist')">
            <div class="card-block">
              <h4 class="card-title">Order list</h4>
              <p class="card-text">Create, edit ordering list, add note for each order item</p>
              <!-- <a routerLink="../itemlist" class="btn btn-secondary">Start</a> -->
            </div>
          </div>
        <div class="card" (click)="goTo('/user/vendor')">
              <div class="card-block">
                <h4 class="card-title">Vendors</h4>
                <p class="card-text">Create, edit vendors list</p>
               <!--  <a routerLink="../vendor" class="btn btn-secondary">Start</a> -->
              </div>
            </div>
        
      </div>
    <div class="card-deck">
        <div class="card" (click)="goTo('/user/groups')">
            <div class="card-block">
              <h4 class="card-title">Groups</h4>
              <p class="card-text">Create items groups by location, refrigirator, freezer, shelfs etc</p>
              <!-- <a routerLink="../groups" class="btn btn-secondary">Start</a> -->
            </div>
          </div>
        <div class="card" (click)="goTo('/user/recipient')">
            <div class="card-block">
              <h4 class="card-title">Recipients</h4>
              <p class="card-text">Manage salespersons, empolyees who receives orders</p>
              <!-- <a routerLink="../recipient" class="btn btn-secondary">Start</a> -->
            </div>
          </div>
          
        <div class="card" (click)="goTo('/user/history')">
              <div class="card-block">
                <h4 class="card-title">History</h4>
                <p class="card-text">Check orders history by date, by vendro</p>
               <!--  <a routerLink="../history" class="btn btn-secondary">Start</a> -->
              </div>
            </div>
        
      </div>
    </div>   