
  <div class="row main">
    <div class="col-sm-6">
      <main-list 
            (addToList)="addToList($event)"
            [allItems]="allItems" 
            [vendors]="vendors">
      </main-list>
      <custom-item [vendors]="vendors" (addCustomItem)="addCustomItem($event)"></custom-item>
    </div>
    <div class="col-sm-6">
      <new-list 
                [allItems]="allItems"
                [family]="family" 
                [modal]="modal"
                (note)="noteModal($event)"
                (userList)="userList()"
                >
      </new-list>
    </div>
  </div>


  <modal [modal]="modal" [note]="note"(saveNote)="saveNote()"></modal>
