<h4>Item list</h4>
  <div class="row main">
    
    <div class="col-sm-5">
      <main-list 
            (addToList)="addToList($event)"
            [allItems]="allItems"
            [token] = "token" 
            [vendors]="vendors">
      </main-list>
      <custom-item [vendors]="vendors" (addCustomItem)="addCustomItem($event)"></custom-item>
      <hr>
      <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="../groups">Manage groups</a>
      </li>
</ul>
    </div>
    <div class="col-sm-7">
      <new-list 
                
                [family]="family" 
                [modal]="modal"
                [token] = "token"
                (note)="noteModal($event)"
                (userList)="userList()"
                >
      </new-list>
    </div>
  </div>


  <modal [modal]="modal" [note]="note"(saveNote)="saveNote()"></modal>
