<div class="row">
  <div class="col-sm-2 nav-custom">
    <img src="../../assets/images/logo.jpg" style="width: 70%; margin-top: 30px">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="vendor">Vendor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="recipient">Recipient</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="neworder">New order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="itemlist">Item List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="history">History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="account">Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="locations">Locations</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-10">
    <router-outlet></router-outlet>
  </div>
</div>
