/* You can add global styles to this file, and also import other style files */

/* .alert{
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 0;
}
.add-btn{
    margin-top: 30px
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.main-col{
    height : 100vh;
}
.main, .main-col{
    background-color: white;

}

button{
    cursor: pointer;
} */

.vfluid{
    height: 100vh;
}

.error-message{
    padding: 0;
    color: #e41313;
}

.error-input{
    border-color: #e41313;
}
