<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-8">
      <button type="button" class="btn btn-link" (click)="showAddRecipient=true">Add new recipient</button>
      <div *ngIf="true">
        <add-recipient [vendors]="vendors" (save)="saveRecipient($event)"></add-recipient>
      </div>
      <hr>
      <div>
        <show-recipient *ngFor="let recipient of recipients; let i=index" [recipient]="recipient" [vendors]="vendors" (remove)="removeRecipient(i)" (save)="saveRecipient(i)"></show-recipient>
      </div>
    </div>
  </div>
</div>



