<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card" *ngFor="let member of allItems; let memberInd=index">
    <a data-toggle="collapse" data-parent="#accordion" href="#{{member.id}}" (click)="getItems(member.id, memberInd)" aria-expanded="false" aria-controls="collapseOne">
      <div class="card-header" role="tab" id="headingOne">
        <h6 class="mb-0">
          {{member.name}}

        </h6>
      </div>
    </a>
    <div id="{{member.id}}" class="collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block">
        <table class="table table-striped">
          <tbody>
            <tr *ngFor="let item of member.items; let itemInd=index">
              <td>{{item.name}}</td>
              <td class="vendor">
                <div class="input-group">
                  <select class="form-control form-control-sm"  #vendor ngModel>
                      <option selected value="">Vendor</option>
                      <option *ngFor="let vendor of vendors; let i=index" value="{{i}}">{{vendor.name}}</option>
                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-secondary btn-sm" type="button" 
                              [disabled]="!vendor.value"
                              (click)="add(memberInd, itemInd, vendor.value)">
                              Add
                        </button>
                      </span>
                    </div>
              </td>
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
