<div class="container-fluid">
    <nav class="navbar navbar-toggleable-sm navbar-dark bg-dark justify-content-between">
        <a class="navbar-brand">eVendor</a>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Login" >
          <input class="form-control mr-sm-2" type="search" placeholder="Password" >
          <button type="button" class="btn btn-link btn-login" (click)='goUser()'>Submit</button>
        </form>
      </nav>
<p>
  
</p>
