<div class="row justify-content-center">
  <div class="col-md-10">
      <div class="order-buttons text-left">
          <button type="button" class="btn btn-link" (click)="by='byOrder'">By Order</button>
          <button type="button" class="btn btn-link" (click)="arrange('byVendor')">By Vendor</button>
          <button *ngIf="(groups!==undefined && groups.length>0)" type="button" class="btn btn-link" (click)="arrange('byGroup')">By Group</button>
        </div>
    <ng-container *ngIf="(by == 'byOrder'); else elseTemplate">
        <div class="card">
            <div class="card-header">
             <h5 class="link">By order</h5>
            </div>
            <div class="card-block">
                <order-table [itemList]="itemList" [packList]="packList" [vendors]="vendors" [by]="by" [order]="order" (changeVendor)="changeVendor($event)"></order-table>
            </div>
          </div>
    </ng-container>
    <ng-template #elseTemplate>
        <div role="tablist" aria-multiselectable="true">
            <div class="card" *ngFor="let by of itemListBy; let byInd=index">
              <a data-toggle="collapse" data-parent="#accordion" href="#{{by.name}}" aria-expanded="true">
                <div class="card-header" role="tab" id="headingOne">
                  <h5 class="mb-0">
                    {{by.name}}
                  </h5>
                </div>
              </a>
              <div id="{{by.name}}" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-block">
                    <order-table [itemList]="by.items" [packList]="packList" [vendors]="vendors" [by]="by" [order]="order" (changeVendor)="changeVendor($event)"></order-table>
                </div>
              </div>
            </div>
          </div>
    </ng-template>
    <div class="order-buttons text-left">
        <button type="button" class="btn btn-link" (click)="test()">Compare and Suspend</button>
        <button type="button" class="btn btn-link" (click)="getCookies()">Suspend</button>
        <button type="button" class="btn btn-link" (click)="test2()">Compare</button>
        <button type="button" class="btn btn-link" (click)="test()">Submit</button>
        <button type="button" class="btn btn-link text-danger" (click)="clear()">Clear</button>
      </div>
  </div>
  <!--   <div class="col-md-6">
    <order></order>
  </div> -->
</div>



















<!--  <div>
        <table class="table">
            <tbody>
              <tr *ngFor="let item of items; let i=index">
                <td></td>
              </tr>
            </tbody>
          </table>
    </div> -->
