.card{
    margin-bottom: 10px;
}
.card-header{
    padding-top: .30rem;
    padding-bottom: .30rem;
    background-color: #FAFAFA;
}

.card-block{
    padding-right: .30rem;
    padding-left: .30rem;
}

table tr:last-child{
    border-bottom: solid 1px rgb(192, 191, 191);
}
table{
    table-layout: fixed;
}

.table td{
    padding: .30rem;
    border-top: solid 1px rgb(192, 191, 191);
}

p{
    margin: 0;
}
 .quantity{
     width: 2em;
 }

 .input-group-addon, .quantity{
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
 }

 .input-group-addon:hover{
     cursor: pointer; 
 }
 .minus{
     padding-left: 0.6rem;
     padding-right: 0.6rem;
 }

.col-xs-3{
     padding-left: 0.5rem;
 }
 
 .checkbox{
     height: 1rem;
     width: 1rem;
     border: 1px solid black;
     border-radius: 0.2rem;
 }

.order-buttons, .show-order{
     margin-top: 3rem;
     margin-bottom: 2rem;
 }

 .card-block .order-buttons{
     padding-right: 1em;
     padding-left: 1em;
 }

 .link{
    color: #0275d8;
 }